In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
url = "https://raw.githubusercontent.com/mwaugh0328/Data_Bootcamp_Fall_2017/master/data_bootcamp_1106/orders_dirty.csv"
#path = "C://data_bootcamp//Data_Bootcamp_Fall_2017//data_bootcamp_1106//orders_dirty.csv"
# Double forward slashes for windows machines.

chp = pd.read_csv(url)

In [4]:
chp.head(10)

,order store id 1,quantity 2,item name 3,choice description 4,item price 5
0,1 Bucks County,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1 Bucks County,1,Izze,[Clementine],$3.39
2,1 Bucks County,1,Nantucket Nectar,[Apple],$3.39
3,1 Bucks County,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2 Bucks County,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3 Bucks County,1,Side of Chips,NaN,$1.69
7,4 Bucks County,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4 Bucks County,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5 Bucks County,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chp.dtypes

order store id 1        object
quantity 2               int64
item name 3             object
choice description 4    object
item price 5            object
dtype: object

In [12]:
chp_old_names = list(chp.columns)

In [13]:
chp_old_names

['order store id 1',
 'quantity 2',
 'item name 3',
 'choice description 4',
 'item price 5']

In [14]:
test_string = 'order store id 1'

In [18]:
test_string = test_string.replace(" ", "_")

In [19]:
test_string

'order_store_id_1'

In [21]:
new_list = []

for item in chp_old_names:
    new_name = item.replace(" ", "_")
    
    new_list.append(new_name)

In [23]:
chp.columns = new_list

In [24]:
chp.head()

,order_store_id_1,quantity_2,item_name_3,choice_description_4,item_price_5
0,1 Bucks County,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1 Bucks County,1,Izze,[Clementine],$3.39
2,1 Bucks County,1,Nantucket Nectar,[Apple],$3.39
3,1 Bucks County,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2 Bucks County,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [25]:
chp.order_store_id_1.unique()

array(['1 Bucks County', '2 Bucks County', '3 Bucks County', ...,
       '1832 Bucks County', '1833 Bucks County', '1834 Bucks County'],
      dtype=object)

In [26]:
chp.shape

(4622, 5)

In [27]:
unique_obs = pd.DataFrame(chp.order_store_id_1.unique())

In [28]:
unique_obs.head()

                0
0  1 Bucks County
1  2 Bucks County
2  3 Bucks County
3  4 Bucks County
4  5 Bucks County

In [30]:
unique_obs.shape

(1834, 1)

In [31]:
chp.order_store_id_1.value_counts()

926 Bucks County     23
1483 Bucks County    14
205 Bucks County     12
759 Bucks County     11
691 Bucks County     11
1786 Bucks County    11
491 Bucks County     10
561 Bucks County      9
1660 Bucks County     9
953 Bucks County      8
1006 Bucks County     8
818 Bucks County      8
195 Bucks County      8
916 Bucks County      8
1443 Bucks County     7
577 Bucks County      7
511 Bucks County      7
1449 Bucks County     7
628 Bucks County      6
1431 Bucks County     6
389 Bucks County      6
848 Bucks County      6
1825 Bucks County     6
1586 Bucks County     6
1396 Bucks County     6
231 Bucks County      6
488 Bucks County      6
1454 Bucks County     6
149 Bucks County      6
1156 Bucks County     6
                     ..
932 Bucks County      1
741 Bucks County      1
871 Bucks County      1
1027 Bucks County     1
917 Bucks County      1
357 Bucks County      1
59 Bucks County       1
800 Bucks County      1
293 Bucks County      1
819 Bucks County      1
605 Bucks County      1
692 Bucks County      1
1478 Bucks County     1
243 Bucks County      1
1767 Bucks County     1
1398 Bucks County     1
1634 Bucks County     1
105 Bucks County      1
1496 Bucks County     1
1334 Bucks County     1
528 Bucks County      1
140 Bucks County      1
245 Bucks County      1
865 Bucks County      1
453 Bucks County      1
1175 Bucks County     1
137 Bucks County      1
1048 Bucks County     1
1640 Bucks County     1
593 Bucks County      1
Name: order_store_id_1, Length: 1834, dtype: int64

In [33]:
chp[chp.order_store_id_1 == "926 Bucks County"]

,order_store_id_1,quantity_2,item_name_3,choice_description_4,item_price_5
2304,926 Bucks County,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuce]]",$9.25
2305,926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2306,926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2307,926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2308,926 Bucks County,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",$9.25
2309,926 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
2310,926 Bucks County,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",$9.25
2311,926 Bucks County,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
2312,926 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",$8.75
2313,926 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$8.75
2314,926 Bucks County,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",$8.75
2315,926 Bucks County,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
2316,926 Bucks County,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
2317,926 Bucks County,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$9.25
2318,926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2319,926 Bucks County,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Cheese]]",$9.25
2320,926 Bucks County,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$8.75
2321,926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75
2322,926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",$8.75
2323,926 Bucks County,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
2324,926 Bucks County,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",$8.75
2325,926 Bucks County,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$9.25
2326,926 Bucks County,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75

In [34]:
chp.set_index("order_store_id_1").loc["926 Bucks County"]

,quantity_2,item_name_3,choice_description_4,item_price_5
order_store_id_1,,,,
926 Bucks County,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuce]]",$9.25
926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
926 Bucks County,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",$9.25
926 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
926 Bucks County,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",$9.25
926 Bucks County,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
926 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",$8.75
926 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$8.75
926 Bucks County,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",$8.75
926 Bucks County,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
926 Bucks County,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
926 Bucks County,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$9.25
926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
926 Bucks County,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Cheese]]",$9.25
926 Bucks County,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$8.75
926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75
926 Bucks County,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",$8.75
926 Bucks County,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
926 Bucks County,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",$8.75
926 Bucks County,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$9.25
926 Bucks County,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75

In [35]:
test = "926 Bucks County"

In [39]:
test.rsplit()[0]

'926'

In [44]:
chp.order_store_id_1 = chp.order_store_id_1.str.rsplit().str[0]

In [48]:
chp.order_store_id_1 = chp.order_store_id_1.astype(int)

In [49]:
chp.dtypes

order_store_id_1         int32
quantity_2               int64
item_name_3             object
choice_description_4    object
item_price_5            object
dtype: object

In [50]:
chp.head()

,order_store_id_1,quantity_2,item_name_3,choice_description_4,item_price_5
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [51]:
chp.set_index("order_store_id_1").loc[926]

,quantity_2,item_name_3,choice_description_4,item_price_5
order_store_id_1,,,,
926,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuce]]",$9.25
926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",$9.25
926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
926,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",$9.25
926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",$8.75
926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$8.75
926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",$8.75
926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
926,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
926,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$9.25
926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Cheese]]",$9.25
926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$8.75
926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75
926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",$8.75
926,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
926,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",$8.75
926,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$9.25
926,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75

In [52]:
uniqe_prices = pd.DataFrame(chp.item_price_5.unique())

In [56]:
chp.item_price_5.value_counts()

$8.75               725
$11.25              517
$9.25               395
$4.45               348
$8.49               311
$11.75              283
$1.25               264
$8.99               242
$2.15               190
$2.95               174
$1.50               117
$1.09               105
$1.69                99
$2.39                99
$10.98               98
$3.99                96
$6.49                52
$11.48               51
$3.39                45
$17.50               40
$2.50                27
$11.89               26
$2.18                22
$8.90                20
$8.69                19
$16.98               19
gift card            19
$4.30                17
$9.39                17
$8.19                14
                   ...
manager override      2
$22.16                2
$35.00                2
$6.78                 2
$6.00                 2
$27.75                2
$4.00                 2
$3.27                 2
$22.20                1
$7.50                 1
$17.80                1
$11.49                1
$26.07                1
$7.98                 1
$4.36                 1
$22.96                1
$16.38                1
$10.50                1
$12.98                1
$44.25                1
$33.75                1
$32.94                1
$5.07                 1
$13.52                1
$35.25                1
$6.45                 1
$11.80                1
$1.99                 1
$15.00                1
$13.35                1
Name: item_price_5, Length: 81, dtype: int64

In [63]:
uniqe_prices.sort_values(by = 0)

                   0
13            $1.09
23            $1.25
27            $1.50
4             $1.69
79            $1.99
71           $10.50
32           $10.58
3            $10.98
26           $11.08
9            $11.25
18           $11.48
80           $11.49
5            $11.75
51           $11.80
39           $11.89
68           $12.98
58           $13.35
74           $13.52
76           $15.00
73           $16.38
2            $16.98
20           $17.50
78           $17.80
19           $17.98
36           $18.50
15            $2.15
11            $2.18
44            $2.29
0             $2.39
33            $2.50
..               ...
41            $4.00
21            $4.30
55            $4.36
7             $4.45
65            $4.50
57            $4.78
70           $44.25
75            $5.00
61            $5.07
22            $5.90
52            $6.00
60            $6.45
25            $6.49
38            $6.78
63            $7.17
35            $7.40
56            $7.50
64            $7.98
48            $8.19
10            $8.49
77            $8.50
43            $8.69
8             $8.75
45            $8.90
12            $8.99
6             $9.25
40            $9.39
31         gift card
66   manager overide
59  manager override

[81 rows x 1 columns]

In [65]:
chp.item_price_5.replace(to_replace = "manager override", value = np.nan, inplace = True)

In [66]:
chp.item_price_5.replace(to_replace = "manager overide", value = np.nan, inplace = True)

In [67]:
chp.item_price_5.replace(to_replace = "gift card", value = np.nan, inplace = True)

In [69]:
chp.item_price_5.unique()

array(['$2.39 ', '$3.39 ', '$16.98 ', '$10.98 ', '$1.69 ', '$11.75 ',
       '$9.25 ', '$4.45 ', '$8.75 ', '$11.25 ', '$8.49 ', '$2.18 ',
       '$8.99 ', '$1.09 ', '$2.95 ', '$2.15 ', '$3.99 ', '$22.50 ',
       '$11.48 ', '$17.98 ', '$17.50 ', '$4.30 ', '$5.90 ', '$1.25 ',
       '$23.78 ', '$6.49 ', '$11.08 ', '$1.50 ', '$22.16 ', '$32.94 ',
       '$22.20 ', nan, '$10.58 ', '$2.50 ', '$23.50 ', '$7.40 ',
       '$18.50 ', '$3.00 ', '$6.78 ', '$11.89 ', '$9.39 ', '$4.00 ',
       '$3.75 ', '$8.69 ', '$2.29 ', '$8.90 ', '$3.27 ', '$3.89 ',
       '$8.19 ', '$35.00 ', '$27.75 ', '$11.80 ', '$6.00 ', '$26.25 ',
       '$21.96 ', '$4.36 ', '$7.50 ', '$4.78 ', '$13.35 ', '$6.45 ',
       '$5.07 ', '$22.96 ', '$7.17 ', '$7.98 ', '$4.50 ', '$26.07 ',
       '$12.98 ', '$35.25 ', '$44.25 ', '$10.50 ', '$33.75 ', '$16.38 ',
       '$13.52 ', '$5.00 ', '$15.00 ', '$8.50 ', '$17.80 ', '$1.99 ',
       '$11.49 '], dtype=object)

In [70]:
chp.item_price_5 = chp.item_price_5.str.replace("$","")

In [71]:
chp.item_price_5.unique()

array(['2.39 ', '3.39 ', '16.98 ', '10.98 ', '1.69 ', '11.75 ', '9.25 ',
       '4.45 ', '8.75 ', '11.25 ', '8.49 ', '2.18 ', '8.99 ', '1.09 ',
       '2.95 ', '2.15 ', '3.99 ', '22.50 ', '11.48 ', '17.98 ', '17.50 ',
       '4.30 ', '5.90 ', '1.25 ', '23.78 ', '6.49 ', '11.08 ', '1.50 ',
       '22.16 ', '32.94 ', '22.20 ', nan, '10.58 ', '2.50 ', '23.50 ',
       '7.40 ', '18.50 ', '3.00 ', '6.78 ', '11.89 ', '9.39 ', '4.00 ',
       '3.75 ', '8.69 ', '2.29 ', '8.90 ', '3.27 ', '3.89 ', '8.19 ',
       '35.00 ', '27.75 ', '11.80 ', '6.00 ', '26.25 ', '21.96 ', '4.36 ',
       '7.50 ', '4.78 ', '13.35 ', '6.45 ', '5.07 ', '22.96 ', '7.17 ',
       '7.98 ', '4.50 ', '26.07 ', '12.98 ', '35.25 ', '44.25 ', '10.50 ',
       '33.75 ', '16.38 ', '13.52 ', '5.00 ', '15.00 ', '8.50 ', '17.80 ',
       '1.99 ', '11.49 '], dtype=object)

In [72]:
chp.item_price_5 = chp.item_price_5.astype(float)

In [73]:
chp.dtypes

order_store_id_1          int32
quantity_2                int64
item_name_3              object
choice_description_4     object
item_price_5            float64
dtype: object

In [74]:
chp.head()

,order_store_id_1,quantity_2,item_name_3,choice_description_4,item_price_5
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [77]:
chp.set_index("order_store_id_1").loc[926].item_price_5.sum()

205.25